In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

import itertools

from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1381,tt0384806,19000000,108047131,The Amityville Horror,Ryan Reynolds|Melissa George|Jesse James|ChloÃ...,Andrew Douglas,What happened over the next 28 days has never ...,A family is terrorized by demonic forces after...,90,Horror|Thriller|Drama,Platinum Dunes|Dimension Films|Metro-Goldwyn-M...,4/15/2005,6.0,2005
115,tt2358925,35000000,14431253,Unfinished Business,Vince Vaughn|Dave Franco|James Marsden|June Di...,Ken Scott,Best business trip ever.,A hard-working small business owner and his tw...,90,Comedy,Studio Babelsberg|Regency Enterprises|Escape A...,3/5/2015,4.9,2015
240,tt0361748,70000000,319131050,Inglourious Basterds,Brad Pitt|MÃ©lanie Laurent|Christoph Waltz|Eli...,Quentin Tarantino,Once upon a time in Nazi occupied France...,"In Nazi-occupied France during World War II, a...",153,Drama|Action|Thriller|War,Universal Pictures|A Band Apart|Zehnte Babelsb...,8/18/2009,7.7,2009
445,tt1231587,36000000,64572262,Hot Tub Time Machine,John Cusack|Lizzy Caplan|Rob Corddry|Craig Rob...,Steve Pink,Kick some past,A malfunctioning time machine at a ski resort ...,101,Science Fiction|Comedy|Adventure,United Artists|Metro-Goldwyn-Mayer (MGM)|New C...,3/26/2010,5.9,2010
46,tt2361509,35000000,194564672,The Intern,Robert De Niro|Anne Hathaway|Rene Russo|Anders...,Nancy Meyers,Experience never gets old,70-year-old widower Ben Whittaker has discover...,121,Comedy,Waverly Films|Warner Bros.,9/24/2015,7.1,2015

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

data = pd.read_csv('movie_bd_v5.csv')

# добавление столбца с прибылью в датафрейм data
data['profit'] = data['revenue'] - data['budget']

#Функция подсчёта жанров
def genres_count(a):
    for i in a:
        if i in genres_dict:
            genres_dict[i] += 1
        else:
            genres_dict[i] = 1
    return genres_dict

#разделяем значения в соответсвующих столбцах
data['genres'] = data['genres'].apply(lambda x:x.split('|'))
data['director'] = data['director'].apply(lambda x: x.split('|'))
data['cast'] = data['cast'].apply(lambda x: x.split('|'))
data['production_companies'] = data['production_companies'].apply(lambda x: x.split('|'))
data['release_date'] = data['release_date'].apply(lambda x: x.split('/'))
data['release_month']=data['release_date'].apply(lambda x: x[0])

# 1. У какого фильма из списка самый большой бюджет?

In [5]:
data.sort_values('budget', ascending = False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,"[Johnny Depp, PenÃ©lope Cruz, Geoffrey Rush, I...",[Rob Marshall],Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,"[Adventure, Action, Fantasy]","[Walt Disney Pictures, Jerry Bruckheimer Films...","[5, 11, 2011]",6.3,2011,641683000,5

In [6]:
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# +

# 2. Какой из фильмов самый длительный (в минутах)?

In [7]:
data.sort_values('runtime', ascending = False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
1157,tt0279111,56000000,12923936,Gods and Generals,"[Stephen Lang, Jeff Daniels, Robert Duvall, Ke...",[Ronald F. Maxwell],The nations heart was touched by...,The film centers mostly around the personal an...,214,"[Drama, History, War]","[Turner Pictures, Antietam Filmworks]","[2, 21, 2003]",5.8,2003,-43076064,2

In [8]:
answers['2'] = 'Gods and Generals (tt0279111)'
# +

# 3. Какой из фильмов самый короткий (в минутах)?

In [9]:
data.sort_values('runtime').head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
768,tt1449283,30000000,14460000,Winnie the Pooh,"[Jim Cummings, Travis Oates, Jim Cummings, Bud...","[Stephen Anderson, Don Hall]",Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,"[Animation, Family]","[Walt Disney Pictures, Walt Disney Animation S...","[4, 13, 2011]",6.8,2011,-15540000,4

In [10]:
answers['3'] = 'Winnie the Pooh (tt1449283)'
# +

# 4. Какова средняя длительность фильмов?

In [11]:
data['runtime'].mean()

109.6585494970884

In [12]:
answers['4'] = 110
# +

# 5. Каково медианное значение длительности фильмов?

In [13]:
data['runtime'].median()

107.0

In [14]:
answers['5'] = 107
# +

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [15]:
data.sort_values('profit', ascending=False).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
239,tt0499549,237000000,2781505847,Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron],Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,"[Action, Adventure, Fantasy, Science Fiction]","[Ingenious Film Partners, Twentieth Century Fo...","[12, 10, 2009]",7.1,2009,2544505847,12

In [16]:
answers['6'] = 'Avatar (tt0499549) '
# +

# 7. Какой фильм самый убыточный?

In [17]:
data.sort_values('profit').head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
1245,tt1210819,255000000,89289910,The Lone Ranger,"[Johnny Depp, Armie Hammer, William Fichtner, ...",[Gore Verbinski],Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,"[Action, Adventure, Western]","[Walt Disney Pictures, Jerry Bruckheimer Films...","[7, 3, 2013]",6.0,2013,-165710090,7

In [18]:
answers['7'] = 'The Lone Ranger (tt1210819)'
# +

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [19]:
data[(data['revenue']>data['budget'])].count()

imdb_id                 1478
budget                  1478
revenue                 1478
original_title          1478
cast                    1478
director                1478
tagline                 1478
overview                1478
runtime                 1478
genres                  1478
production_companies    1478
release_date            1478
vote_average            1478
release_year            1478
profit                  1478
release_month           1478
dtype: int64

In [20]:
data[(data['profit']>0)].count()

imdb_id                 1478
budget                  1478
revenue                 1478
original_title          1478
cast                    1478
director                1478
tagline                 1478
overview                1478
runtime                 1478
genres                  1478
production_companies    1478
release_date            1478
vote_average            1478
release_year            1478
profit                  1478
release_month           1478
dtype: int64

In [21]:
answers['8'] = 1478
# +

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [22]:
data_2008 = data[(data['release_year']==2008)]
data_2008[(data_2008['revenue'] == data_2008['revenue'].max())]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
599,tt0468569,185000000,1001921825,The Dark Knight,"[Christian Bale, Michael Caine, Heath Ledger, ...",[Christopher Nolan],Why So Serious?,Batman raises the stakes in his war on crime. ...,152,"[Drama, Action, Crime, Thriller]","[DC Comics, Legendary Pictures, Warner Bros., ...","[7, 16, 2008]",8.1,2008,816921825,7

In [23]:
answers['9'] = 'The Dark Knight (tt0468569)'
# +

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [24]:
data_1214 = data[(data['release_year']>=2012)&(data['release_year']<=2014)]
data_1214[(data_1214['profit'] == data_1214['profit'].min())]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
1245,tt1210819,255000000,89289910,The Lone Ranger,"[Johnny Depp, Armie Hammer, William Fichtner, ...",[Gore Verbinski],Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,"[Action, Adventure, Western]","[Walt Disney Pictures, Jerry Bruckheimer Films...","[7, 3, 2013]",6.0,2013,-165710090,7

In [25]:
answers['10'] = 'The Lone Ranger (tt1210819)'
# +

# 11. Какого жанра фильмов больше всего?

In [26]:
Counter(data.explode('genres')['genres']).most_common(5)

[('Drama', 782),
 ('Comedy', 683),
 ('Thriller', 596),
 ('Action', 582),
 ('Adventure', 415)]

ВАРИАНТ 2

In [27]:
genres_dict = {}
data['genres'].apply(genres_count)
genres_series = pd.Series(genres_dict).sort_values(ascending=False)
print(genres_series.head(1))

Drama    782
dtype: int64

In [28]:
answers['11'] = 'Drama'
# +

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [29]:
data_profit_genres = data.explode('genres')
data_profit_genres = data_profit_genres.loc[data['profit']>0]
data_profit_genres['genres'].value_counts().head(1)

Drama    560
Name: genres, dtype: int64

In [30]:
answers['12'] = 'Drama'
# +

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [31]:
data_director=data.explode('director')
data_director.groupby(['director'])['revenue'].sum().sort_values(ascending = False)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 997, dtype: int64

In [32]:
answers['13'] = 'Peter Jackson'
# +

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [33]:
data_action = data_director.explode('genres')
# display(data_action)
data_action = data_action[data_action['genres']=='Action']
# display(data_action)
data_action.groupby(['director'])['genres'].count().sort_values(ascending=False)

director
Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Ridley Scott          6
Antoine Fuqua         6
                     ..
Joe Cornish           1
Roger Spottiswoode    1
Jimmy Hayward         1
Jim Gillespie         1
Jon Avnet             1
Name: genres, Length: 364, dtype: int64

In [34]:
answers['14'] = 'Robert Rodriguez'
# +

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [35]:
data_cast = data.explode('cast')
data_cast_12 = data_cast[data_cast['release_year'] == 2012]
data_cast_12.groupby(['cast'])['revenue'].sum().sort_values(ascending=False)

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

In [36]:
answers['15'] = 'Chris Hemsworth'
# +

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [37]:
data_cast.loc[data_cast['budget']> data_cast['budget'].mean()]['cast'].value_counts(ascending=False)

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Samuel L. Jackson    15
Tom Cruise           15
                     ..
Clifton Powell        1
Carol Burnett         1
Donnie Wahlberg       1
Rodger Bumpass        1
Kieran Culkin         1
Name: cast, Length: 1505, dtype: int64

In [38]:
answers['16'] = 'Matt Damon'
# +

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [39]:
data_nicolas = data_cast.explode('genres')
data_nicolas = data_nicolas[data_nicolas['cast']=='Nicolas Cage']
data_nicolas['genres'].value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Family              3
Mystery             3
Animation           3
History             2
Romance             1
War                 1
Horror              1
Name: genres, dtype: int64

In [40]:
answers['17'] = 'Action'
# +

# 18. Самый убыточный фильм от Paramount Pictures

In [41]:
data.head(1)
data_par = data.explode('production_companies')
data_par = data_par[(data_par['production_companies'] == 'Paramount Pictures')]
data_par[(data_par['profit'] == data_par['profit'].min())]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
925,tt0267626,100000000,35168966,K-19: The Widowmaker,"[Harrison Ford, Liam Neeson, Peter Sarsgaard, ...",[Kathryn Bigelow],Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,"[Thriller, Drama, History]",Paramount Pictures,"[7, 19, 2002]",6.0,2002,-64831034,7

In [42]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'
# +

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [43]:
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

In [44]:
answers['19'] = 2015
# +

# 20. Какой самый прибыльный год для студии Warner Bros?

In [63]:
data_wb = data.explode('production_companies')
warner_bros = []
idx = data_wb.production_companies.apply(lambda x: 'Warner Bros.' in x)
data_wb = data_wb.loc[idx]
# for company in data_wb['production_companies']:
#     if 'Warner Bros.' in company:
#         warner_bros.append(company)
#         
# warner_bros = np.unique(warner_bros)
# display(warner_bros)
# data_wb = data_wb.loc[(data_wb['production_companies'].isin([warner_bros[0]]))|(data_wb['production_companies'].isin([warner_bros[1]]))|(data_wb['production_companies'].isin([warner_bros[2]])|(data_wb['production_companies'].isin([warner_bros[3]])))]
data_wb.groupby(['release_year'])['profit'].sum().sort_values(ascending=False).head(1)

release_year
2014    2292949646
Name: profit, dtype: int64

In [ ]:
answers['20'] = 2014
# +

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [ ]:
count_month = data.groupby(['release_month'])['original_title'].count()
count_month.sort_values(ascending=False)

In [ ]:
answers['21'] = 'Сентябрь'
# +

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [ ]:
count_month['6']+count_month['7']+count_month['8']

In [ ]:
answers['22'] = 450
# +

# 23. Для какого режиссера зима – самое продуктивное время года?

In [ ]:
winter = data.loc[data['release_month'].isin(['12','1','2'])]
winter['director'].value_counts()

In [ ]:
answers['23'] = 'Peter Jackson'
# +

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [ ]:
data_lw = data.explode('production_companies')
data_lw['leight_word'] = data_lw['original_title'].apply(lambda x: len(x))
data_lw.groupby(['production_companies'])['leight_word'].mean().sort_values(ascending=False)

In [ ]:
answers['24'] = 'Four By Two Productions'
# +

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [ ]:
data_lw['count_word'] = data_lw['overview'].apply(lambda x: len(x.split(' ')))
data_lw.groupby(['production_companies'])['count_word'].mean().sort_values(ascending=False)
# data_lw

In [ ]:
answers['25'] = 'Midnight Picture Show'
# +

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [65]:
vote = data['vote_average'].value_counts(bins=100, ascending = False)
data.loc[(data['vote_average']>vote.index[0].left)&(data['vote_average']<=vote.index[0].right)]
data.sort_values(['vote_average'], ascending=False).head(10)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
599,tt0468569,185000000,1001921825,The Dark Knight,"[Christian Bale, Michael Caine, Heath Ledger, ...",[Christopher Nolan],Why So Serious?,Batman raises the stakes in his war on crime. ...,152,"[Drama, Action, Crime, Thriller]","[DC Comics, Legendary Pictures, Warner Bros., ...","[7, 16, 2008]",8.1,2008,816921825,7
118,tt0816692,165000000,621752480,Interstellar,"[Matthew McConaughey, Jessica Chastain, Anne H...",[Christopher Nolan],Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,"[Adventure, Drama, Science Fiction]","[Paramount Pictures, Legendary Pictures, Warne...","[11, 5, 2014]",8.0,2014,456752480,11
125,tt2084970,14000000,233555708,The Imitation Game,"[Benedict Cumberbatch, Keira Knightley, Matthe...",[Morten Tyldum],The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,"[History, Drama, Thriller, War]","[Black Bear Pictures, Bristol Automotive]","[11, 14, 2014]",8.0,2014,219555708,11
9,tt2096673,175000000,853708609,Inside Out,"[Amy Poehler, Phyllis Smith, Richard Kind, Bil...",[Pete Docter],Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,"[Comedy, Animation, Family]","[Walt Disney Pictures, Pixar Animation Studios...","[6, 9, 2015]",8.0,2015,678708609,6
34,tt3170832,6000000,35401758,Room,"[Brie Larson, Jacob Tremblay, Joan Allen, Sean...",[Lenny Abrahamson],Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,"[Drama, Thriller]","[Element Pictures, No Trace Camping, A24, Dupe...","[10, 16, 2015]",8.0,2015,29401758,10
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,"[Leonardo DiCaprio, Jonah Hill, Margot Robbie,...",[Martin Scorsese],EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,"[Crime, Drama, Comedy]","[Paramount Pictures, Appian Way, EMJAG Product...","[12, 25, 2013]",7.9,2013,292000694,12
128,tt2267998,61000000,369330363,Gone Girl,"[Ben Affleck, Rosamund Pike, Carrie Coon, Neil...",[David Fincher],You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,"[Mystery, Thriller, Drama]","[Twentieth Century Fox Film Corporation, Regen...","[10, 1, 2014]",7.9,2014,308330363,10
1191,tt2024544,20000000,187000000,12 Years a Slave,"[Chiwetel Ejiofor, Michael Fassbender, Lupita ...",[Steve McQueen],The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,"[Drama, History]","[Plan B Entertainment, Regency Enterprises, Ri...","[10, 18, 2013]",7.9,2013,167000000,10
119,tt2015381,170000000,773312399,Guardians of the Galaxy,"[Chris Pratt, Zoe Saldana, Dave Bautista, Vin ...",[James Gunn],All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,"[Action, Science Fiction, Adventure]","[Marvel Studios, Moving Picture Company (MPC),...","[7, 30, 2014]",7.9,2014,603312399,7
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,"[Elijah Wood, Ian McKellen, Viggo Mortensen, L...",[Peter Jackson],The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,"[Adventure, Fantasy, Action]","[WingNut Films, New Line Cinema]","[12, 1, 2003]",7.9,2003,1024888979,12

In [ ]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'
# +

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [64]:
import itertools
import collections
data_p = data['cast'].reset_index()
data_p['pairs'] = data_p['cast'].apply(lambda s: list(itertools.combinations(s, 2)))
data_p = data_p.explode('pairs').reset_index()
collections.Counter(data_p['pairs']).most_common(1)

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

In [ ]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'
# +

# Submission

In [ ]:
answers

In [ ]:
len(answers)