In [61]:
import pandas as pd
import numpy as np
import re

In [197]:
df = pd.read_csv('rest.csv')
pattern = re.compile('\d+[.]\d+')
pattern_text = re.compile('\w+\s*\w*')
df = df.replace('no_info', np.nan)
df.rest_coord = df.rest_coord.apply(lambda x: pattern.findall(x))
df.rest_coord = df.rest_coord.apply(lambda x: np.nan if len(x) != 2 else x)
df.rest_coord = df.rest_coord.apply(lambda x: [float(x[0]), float(x[1])] if type(x) == list else x)
df.meals = df.meals.apply(lambda x: pattern_text.findall(x) if type(x) == str else x)
df.rub_max = df.rub_max.apply(lambda x: float(x) if type(x) == str else x)
df.loc[df.rest_adress.isnull(), 'rest_coord'] = np.nan
df.loc[df.rest_adress.isnull(), 'meals'] = np.nan
df = df.drop('rest_adress', axis = 1)
display(df.head(6))
display(df.info())
df.to_csv('rest_pars.csv', index = False)

,ID_TA,meals,rest_coord,rub_max,rub_min
0,d5808504,"[Lunch, Dinner]","[45.49584, 9.14616]",NaN,NaN
1,d12845029,NaN,"[48.2049288, 16.3719383]",NaN,NaN
2,d7992032,NaN,"[59.2960467, 18.0529969]",NaN,NaN
3,d6633059,"[Breakfast, Brunch, Lunch, Dinner]","[53.3640658, 6.2328068]",NaN,NaN
4,d8632781,"[Lunch, Dinner, Late Night, Drinks]","[51.5127973, 0.1536371]",11220.0,3366.0
5,d12503536,"[Breakfast, Lunch, Dinner, Drinks]","[41.133346, 8.613011]",NaN,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39974 entries, 0 to 39973
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID_TA       39974 non-null  object
 1   meals       22330 non-null  object
 2   rest_coord  35016 non-null  object
 3   rub_max     11762 non-null  float64
 4   rub_min     11762 non-null  object
dtypes: float64(1), object(4)
memory usage: 1.5+ MB

None