In [11]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
import csv

In [2]:
df = pd.read_csv('main_task.csv')
df.loc[df['City'] == 'Oporto', 'City'] = 'Porto'
cities = df.City.unique()

In [4]:
df.head(2)

,Restaurant_id,City,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA
0,id_5569,Paris,"['European', 'French', 'International']",5570.0,3.5,$$ - $$$,194.0,"[['Good food at your doorstep', 'A good hotel ...",/Restaurant_Review-g187147-d1912643-Reviews-R_...,d1912643
1,id_1535,Stockholm,NaN,1537.0,4.0,NaN,10.0,"[['Unique cuisine', 'Delicious Nepalese food']...",/Restaurant_Review-g189852-d7992032-Reviews-Bu...,d7992032

In [117]:
options = webdriver.ChromeOptions()
options.add_argument('headless')
browser = webdriver.Chrome(options=options)

rest_pars = []
xpathes = {'rest_coord': '/html/body/div[2]/div[2]/div[2]/div[2]/div/div[1]/div/div[3]/div/div/span/span/img',
           'meals': '/html/body/div[2]/div[2]/div[2]/div[2]/div/div[1]/div/div[2]/div/div/div[2]/div[3]/div[2]'}
for url in df['URL_TA'][:50]:
    browser.get('https://www.tripadvisor.com' + url)
    assert 'Tripadvisor' in browser.title
    try:
        rest_pars.append({'Restaurant_id': df['Restaurant_id'][df['URL_TA'] == url].item(),
                          'rest_coord': browser.find_element_by_xpath(xpathes['rest_coord']).get_attribute('src').split('&center=')[1].split('&maptype')[0].split(',')})
#                           'meals': browser.find_element_by_xpath(xpathes['meals']).text.split(', ')})
    except:
        rest_pars.append({'Restaurant_id': df['Restaurant_id'][df['URL_TA'] == url].item(),
                          'rest_coord': 'no_info'})
#                           'meals': 'no_info'})


browser.quit()

In [118]:
rest_pars

[{'Restaurant_id': 'id_5569', 'rest_coord': ['48.831982', '2.339669']},
 {'Restaurant_id': 'id_1535', 'rest_coord': ['59.296162', '18.053225']},
 {'Restaurant_id': 'id_352', 'rest_coord': 'no_info'},
 {'Restaurant_id': 'id_3456', 'rest_coord': ['52.558262', '13.413160']},
 {'Restaurant_id': 'id_615', 'rest_coord': ['48.104176', '11.534638']},
 {'Restaurant_id': 'id_1418', 'rest_coord': ['41.133804', '-8.612913']},
 {'Restaurant_id': 'id_1720', 'rest_coord': ['45.495831', '9.146069']},
 {'Restaurant_id': 'id_825', 'rest_coord': ['48.147690', '17.110910']},
 {'Restaurant_id': 'id_2690', 'rest_coord': ['48.204971', '16.371880']},
 {'Restaurant_id': 'id_4209', 'rest_coord': 'no_info'},
 {'Restaurant_id': 'id_6578', 'rest_coord': ['41.388050', '2.150970']},
 {'Restaurant_id': 'id_5312', 'rest_coord': ['51.507427', '-0.023226']},
 {'Restaurant_id': 'id_4066', 'rest_coord': ['51.486214', '-0.171976']},
 {'Restaurant_id': 'id_4637', 'rest_coord': ['52.507290', '13.467516']},
 {'Restaurant_id': 'id_4773', 'rest_coord': ['40.416374', '-3.707704']},
 {'Restaurant_id': 'id_1401', 'rest_coord': ['53.363865', '-6.232801']},
 {'Restaurant_id': 'id_5257', 'rest_coord': 'no_info'},
 {'Restaurant_id': 'id_11121', 'rest_coord': 'no_info'},
 {'Restaurant_id': 'id_3127', 'rest_coord': ['52.522034', '13.384460']},
 {'Restaurant_id': 'id_2791', 'rest_coord': 'no_info'},
 {'Restaurant_id': 'id_368', 'rest_coord': 'no_info'},
 {'Restaurant_id': 'id_5844', 'rest_coord': 'no_info'},
 {'Restaurant_id': 'id_13016', 'rest_coord': 'no_info'},
 {'Restaurant_id': 'id_72', 'rest_coord': ['47.382801', '8.540225']},
 {'Restaurant_id': 'id_14973', 'rest_coord': ['51.542740', '-0.004720']},
 {'Restaurant_id': 'id_1076', 'rest_coord': ['52.253696', '21.023159']},
 {'Restaurant_id': 'id_2763', 'rest_coord': ['40.407589', '-3.703880']},
 {'Restaurant_id': 'id_2108', 'rest_coord': 'no_info'},
 {'Restaurant_id': 'id_10057', 'rest_coord': 'no_info'},
 {'Restaurant_id': 'id_8349', 'rest_coord': 'no_info'},
 {'Restaurant_id': 'id_1841', 'rest_coord': ['55.661991', '12.630040']},
 {'Restaurant_id': 'id_2006', 'rest_coord': 'no_info'},
 {'Restaurant_id': 'id_1327', 'rest_coord': 'no_info'},
 {'Restaurant_id': 'id_2434', 'rest_coord': ['45.754951', '4.840630']},
 {'Restaurant_id': 'id_2427', 'rest_coord': ['41.854839', '12.478760']},
 {'Restaurant_id': 'id_2045', 'rest_coord': ['40.428165', '-3.639850']},
 {'Restaurant_id': 'id_5842', 'rest_coord': ['45.437031', '9.199760']},
 {'Restaurant_id': 'id_5209', 'rest_coord': ['41.913898', '12.474928']},
 {'Restaurant_id': 'id_11291', 'rest_coord': 'no_info'},
 {'Restaurant_id': 'id_3131', 'rest_coord': ['45.457901', '9.177270']},
 {'Restaurant_id': 'id_2711', 'rest_coord': ['40.411247', '-3.705516']},
 {'Restaurant_id': 'id_5459', 'rest_coord': ['48.857353', '2.354701']},
 {'Restaurant_id': 'id_164', 'rest_coord': ['53.553612', '10.002772']},
 {'Restaurant_id': 'id_9924', 'rest_coord': 'no_info'},
 {'Restaurant_id': 'id_2192', 'rest_coord': ['38.667068', '-9.156830']},
 {'Restaurant_id': 'id_11945', 'rest_coord': ['51.517849', '-0.074590']},
 {'Restaurant_id': 'id_8460', 'rest_coord': 'no_info'},
 {'Restaurant_id': 'id_75', 'rest_coord': 'no_info'},
 {'Restaurant_id': 'id_2098', 'rest_coord': ['41.387180', '2.180208']},
 {'Restaurant_id': 'id_1048', 'rest_coord': 'no_info'}]

In [4]:
data_cities = pd.DataFrame(cities_pars)
data_cities.city_coord = data_cities.city_coord.apply(lambda x: [float(x[0]), float(x[1])])
data_cities.to_csv('cities.csv', index = False)

In [5]:
data = pd.read_csv('cities.csv')
data

          City         country              city_coord
0        Paris          France   [48.856663, 2.351556]
1    Stockholm          Sweden     [59.325, 18.070897]
2       London  United Kingdom   [51.507351, -0.12766]
3       Berlin         Germany  [52.518654, 13.374711]
4       Munich         Germany  [48.137187, 11.575691]
5        Porto        Portugal  [41.157963, -8.629154]
6        Milan           Italy   [45.469436, 9.180621]
7   Bratislava        Slovakia  [48.143488, 17.108361]
8       Vienna         Austria  [48.206481, 16.363451]
9         Rome           Italy  [41.902689, 12.496176]
10   Barcelona           Spain   [41.392696, 2.144449]
11      Madrid           Spain  [40.419348, -3.700897]
12      Dublin         Ireland  [53.340258, -6.252831]
13    Brussels         Belgium   [50.846697, 4.352535]
14      Zurich     Switzerland   [47.386966, 8.534139]
15      Warsaw          Poland   [52.23209, 21.007139]
16    Budapest         Hungary  [47.492647, 19.051399]
17  Copenhagen         Denmark  [55.680661, 12.585828]
18   Amsterdam     Netherlands   [52.373057, 4.892557]
19        Lyon          France   [45.760199, 4.837715]
20     Hamburg         Germany   [53.550682, 9.992895]
21      Lisbon        Portugal  [38.716174, -9.141589]
22      Prague  Czech Republic  [50.080293, 14.428983]
23        Oslo          Norway  [59.912752, 10.734365]
24    Helsinki         Finland  [60.166892, 24.943673]
25   Edinburgh  United Kingdom  [55.951814, -3.207641]
26      Geneva     Switzerland   [46.203548, 6.140003]
27   Ljubljana        Slovenia  [46.058357, 14.520009]
28      Athens          Greece  [37.975527, 23.734855]
29  Luxembourg      Luxembourg    [49.61142, 6.119476]
30      Krakow          Poland  [50.061971, 19.936742]