In [8]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
import csv
from tqdm import tqdm

In [11]:
df = pd.read_csv('main_task.csv')
df.loc[df['City'] == 'Oporto', 'City'] = 'Porto'
cities = df.City.unique()

In [6]:
options = webdriver.ChromeOptions()
options.add_argument('headless')
browser = webdriver.Chrome(options=options)

cities_pars = []

for city in cities:
    browser.get('https://yandex.com/maps/')
    assert 'Yandex' in browser.title

    elem = browser.find_element_by_class_name(
            'input__control')  # Find the search box
    try:
        elem.send_keys(city + Keys.RETURN)
        time.sleep(0.5)
        cities_pars.append({'City': city,
                            'country': browser.find_element_by_xpath('/html/body/div[1]/div[2]/div[4]/div[1]/div[1]/div[1]/div/div[1]/div/div[5]/div[3]/div/div[3]/div/a[2]').get_attribute('title'),
                            'city_coord': browser.find_element_by_class_name(
                                        'toponym-card-title-view__coords-badge').text.split(sep=', ')})
    except:
        browser.get('https://yandex.com/maps/')
        elem = browser.find_element_by_class_name('input__control')
        elem.send_keys('City ' + city + Keys.RETURN)
        time.sleep(0.5)
        cities_pars.append({'City': city,
                            'country': browser.find_element_by_xpath('/html/body/div[1]/div[2]/div[4]/div[1]/div[1]/div[1]/div/div[1]/div/div[5]/div[3]/div/div[3]/div/a[2]').get_attribute('title'),
                            'city_coord': browser.find_element_by_class_name(
                                        'toponym-card-title-view__coords-badge').text.split(', ')})
browser.quit()

In [30]:
options = webdriver.ChromeOptions()
options.add_argument('headless')
browser = webdriver.Chrome(options=options)
# //*[@id="mw-content-text"]/div[1]/table[2]/tbody/tr[1]/td[1]/a
# //*[@id="mw-content-text"]/div[1]/table[2]/tbody/tr[256]/td[1]/a
capitals = []
# xpath = ('//*[@id="mw-content-text"]/div[1]/table[2]/tbody/tr[1]/td[1]/a')
for i in tqdm(range(1, 257)):
    browser.get('https://en.wikipedia.org/wiki/List_of_national_capitals')
    time.sleep(0.5)
    capitals.append(browser.find_element_by_xpath(
        f'//*[@id="mw-content-text"]/div[1]/table[2]/tbody/tr[{i}]/td[1]/a').get_attribute('title'),)
    
text = str()
count = 0

for i in capitals:
    count+=1
    text += f'{count}: {i} \n'
        
send_telegram(text)

100%|████████████████████████████████████████████████████████████████████████████████████| 4/4 [00:03<00:00,  1.10it/s]

In [29]:
capitals

['Abidjan', 'Yamoussoukro', 'Abu Dhabi', 'Abuja']

In [13]:
import requests
def send_telegram(text: str):
    token = "1509182364:AAF-1pY7y0cNg3tFncBcPTK0gpL_vhbJYyE"
    url = "https://api.telegram.org/bot"
    channel_id = "-1001443232386"
    method = url + token + "/sendMessage"

    r = requests.get(method, data={
         'chat_id': channel_id,
         'text': text
    })
    if r.status_code != 200:
        raise Exception("post_text error")

if __name__ == '__main__':
    send_telegram('Всё готово!')

In [27]:
import requests
def send_telegram(text: str):
    token = "1509182364:AAF-1pY7y0cNg3tFncBcPTK0gpL_vhbJYyE"
    url = "https://api.telegram.org/bot"
    channel_id = "-1001443232386"
    method = url + token + "/sendMessage"

    r = requests.get(method, data={
         'chat_id': channel_id,
         'text': text
    })
    if r.status_code != 200:
        raise Exception("post_text error")

text = str()
count = 0

for i in capitals:
    count+=1
    text += f'{count}: {i} \n'
        
if __name__ == '__main__':
    send_telegram(text)

In [7]:
data_cities = pd.DataFrame(cities_pars)
data_cities.city_coord = data_cities.city_coord.apply(lambda x: [float(x[0]), float(x[1])])
data_cities.to_csv('cities.csv', index = False)

In [4]:
data = pd.read_csv('cities.csv')
data

          City         country              city_coord
0        Paris          France   [48.856663, 2.351556]
1    Stockholm          Sweden     [59.325, 18.070897]
2       London  United Kingdom   [51.507351, -0.12766]
3       Berlin         Germany  [52.518654, 13.374711]
4       Munich         Germany  [48.137187, 11.575691]
5        Porto        Portugal  [41.157963, -8.629154]
6        Milan           Italy   [45.469436, 9.180621]
7   Bratislava        Slovakia  [48.143488, 17.108361]
8       Vienna         Austria  [48.206481, 16.363451]
9         Rome           Italy  [41.902689, 12.496176]
10   Barcelona           Spain   [41.392696, 2.144449]
11      Madrid           Spain  [40.419348, -3.700897]
12      Dublin         Ireland  [53.340258, -6.252831]
13    Brussels         Belgium   [50.846697, 4.352535]
14      Zurich     Switzerland   [47.386966, 8.534139]
15      Warsaw          Poland   [52.23209, 21.007139]
16    Budapest         Hungary  [47.492647, 19.051399]
17  Copenhagen         Denmark  [55.680661, 12.585828]
18   Amsterdam     Netherlands   [52.373057, 4.892557]
19        Lyon          France   [45.760199, 4.837715]
20     Hamburg         Germany   [53.550682, 9.992895]
21      Lisbon        Portugal  [38.716174, -9.141589]
22      Prague  Czech Republic  [50.080293, 14.428983]
23        Oslo          Norway  [59.912752, 10.734365]
24    Helsinki         Finland  [60.166892, 24.943673]
25   Edinburgh  United Kingdom  [55.951814, -3.207641]
26      Geneva     Switzerland   [46.203548, 6.140003]
27   Ljubljana        Slovenia  [46.058357, 14.520009]
28      Athens          Greece  [37.975527, 23.734855]
29  Luxembourg      Luxembourg    [49.61142, 6.119476]
30      Krakow          Poland  [50.061971, 19.936742]

In [5]:
type(data.city_coord[0][0])

str